body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://th.bing.com/th?id=OIP.v7gy1k2y11B_SPqm4XsV_gHaE8&w=306&h=204&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2);
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.p{
  font-size: xx-large;
}
.free{
  font-size: xx-large;
}
.App{
  background-image: url(https://th.bing.com/th?id=OIP.v7gy1k2y11B_SPqm4XsV_gHaE8&w=306&h=204&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2)
}
.App{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
